.container {
    width: 100%;
    height: 100%;
    background: url(https://utfs.io/f/46d8bcf5-fe05-4a08-923f-f6a56c2a8b02-m15jgy.jpg);
    object-fit: cover;
}
.cssload-preloader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
    position: absolute;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -338px;
    perspective: 450px;
    -o-perspective: 450px;
    -ms-perspective: 450px;
    -webkit-perspective: 450px;
    -moz-perspective: 450px;
}
.cssload-preloader .cssload-preloader-box > div {
    position: relative;
    width: 68px;
    height: 68px;
    background: rgb(255 65 84);
    float: left;
    text-align: center;
    line-height: 68px;
    font-family: Verdana;
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
    background: rgb(235, 78, 93);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 0ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 0ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 0ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 0ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 210ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 210ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 210ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 210ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 210ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 420ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 420ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 420ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 420ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 420ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 630ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 630ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 630ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 630ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 630ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 840ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 840ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 840ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 840ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 840ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 1050ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 1050ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 1050ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 1050ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 1050ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 1260ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 1260ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 1260ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 1260ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 1260ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
    background: rgb(255 65 84);
    margin-right: 34px;
    animation: cssload-movement 1680ms ease 1470ms infinite alternate;
    -o-animation: cssload-movement 1680ms ease 1470ms infinite alternate;
    -ms-animation: cssload-movement 1680ms ease 1470ms infinite alternate;
    -webkit-animation: cssload-movement 1680ms ease 1470ms infinite alternate;
    -moz-animation: cssload-movement 1680ms ease 1470ms infinite alternate;
}
// KEY FRAMES
@keyframes cssload-movement {
    from {
        transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        transform: scale(1.5) translateY(-56px) rotateX(45deg);
        box-shadow: 0 56px 90px rgb(0, 0, 0);
        background: var(--background-color);
    }
}

@-o-keyframes cssload-movement {
    from {
        -o-transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        -o-transform: scale(1.5) translateY(-56px) rotateX(45deg);
        box-shadow: 0 56px 90px rgb(0, 0, 0);
        background: var(--background-color);
    }
}

@-ms-keyframes cssload-movement {
    from {
        -ms-transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        -ms-transform: scale(1.5) translateY(-56px) rotateX(45deg);
        box-shadow: 0 56px 90px rgb(0, 0, 0);
        background: var(--background-color);
    }
}

@-webkit-keyframes cssload-movement {
    from {
        -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        -webkit-transform: scale(1.5) translateY(-56px) rotateX(45deg);
        box-shadow: 0 56px 90px rgb(0, 0, 0);
        background: var(--background-color);
    }
}

@-moz-keyframes cssload-movement {
    from {
        -moz-transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        -moz-transform: scale(1.5) translateY(-56px) rotateX(45deg);
        box-shadow: 0 56px 90px rgb(0, 0, 0);
        background: var(--background-color);
    }
}
