$color-rgb: rgb(230, 13, 13);
.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        text-transform: uppercase;
        animation: glow 4s ease-in-out infinite;

        &:nth-child(2) {
            animation-delay: 0.5s;
        }
    
        &:nth-child(3) {
            animation-delay: 1s;
        }
    
        &:nth-child(4) {
            animation-delay: 1.5s;
        }
    
        &:nth-child(5) {
            animation-delay: 2s;
        }
    }
}

@keyframes glow {
    0%, 100% {
        color: #FFF;
        text-shadow: 0 0 10px $color-rgb, 0 0 50px $color-rgb, 0 0 100px $color-rgb;
    }

    10%, 90% {
        color: black;
        text-shadow: none;
    }
}
