.profile{
    position: relative;
    font-family: var(--font-Italic);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-parent{
        display: flex;
        flex-direction: column;
        &-child {
            width: 250px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &-content{
                width: 100%;
                background-color: white;
                border: 1px solid black;
                border-radius: 5px;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                &:hover{
                    cursor: pointer;
                }
            }
            &-contentSelected{
                background: #a3a3a3 !important;
            }
        }
    }
    &-img{
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: rgba(240, 10, 10, 0.4) 0px 2px 4px, rgba(240, 10, 10, 0.3) 0px 7px 13px -3px, rgba(240, 10, 10, 0.2) 0px -3px 0px inset;
    }
}