.header{
    width: 100%;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
    &-title{
        font-family: var(--font-style);
        font-size: 2.5rem;
        font-weight: 600;background: 50% 100% / 50% 50% no-repeat
        radial-gradient(ellipse at bottom, #444444, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        animation: reveal 3000ms ease-in-out forwards 200ms,
            glow 2500ms linear infinite 2000ms;

        @keyframes reveal {
            80%{
            letter-spacing: 8px;
            }
            100% {
                background-size: 300% 300%;
            }
            }
            @keyframes glow {
                40% {
                text-shadow: 0 0 8px #201a1a;
            }
        }
    }
    &-login{
        padding: 5px 15px;
        border: 1px solid;
        border-radius: 2px;
        
    }
}