.wrapper {
  &_NumberOfDays {
    &-title {
      font-family: var(--font-Italic);
      color: white;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }
    &-content {
      font-family: var(--font-Italic);
      color: rgb(199, 197, 197);
      font-size: 2rem;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }
    &-video {
      border-radius: 10px;
      box-shadow: rgb(42 39 39 / 30%) 0px 22px 70px 4px;
    }
  }
}
