.appContainer {
    display: flex;
    height: 100vh;
    margin-top: 30px;
    &-titleYears {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        width: 95%;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 20px;
        font-family: var(--font-Italic);
        font-weight: 600;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: black;
        }
    }
}

.leftPanel {
    flex: 1;
}
.rightPanel {
    position: fixed;
    right: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
    top: 71px;
}

.yearSection {
    margin-bottom: 20px;
    flex: 1;
}

.yearTitle {
    text-align: start;
    font-size: 12px;
    font-weight: 600;
}

.monthItem {
    flex: 1;
    margin: 5px 0;
    cursor: pointer;
    color: #5d5d5d;
    font-size: 7px !important;
}

.monthItem:hover {
    background-color: #666;
}
