.modernTimeLine {
    background: url(https://utfs.io/f/46d8bcf5-fe05-4a08-923f-f6a56c2a8b02-m15jgy.jpg);
    object-fit: contain;
    &-title {
        font-family: var(--font-style);
        font-size: 2.5rem;
        font-weight: 600;
        background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #444444, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: white;
    }
    &-titleHover {
        color: #e81224 !important;
    }
    &-titleTimeLine {
        font-family: var(--font-style) !important;
        color: white;
        font-size: 17px;
        font-weight: 600;
    }
    &-content {
        margin-bottom: 20px;
        padding: 10px;
        background: white;
        font-family: var(--font-style);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        & h1 {
            color: rgb(232, 18, 36);
            font-weight: 500;
        }
        & img {
            border-radius: 5px;
            width: 160px;
            height: 160px;
            object-fit: cover;
        }
    }
    &-contentHover {
        box-shadow: rgb(232, 18, 36,0.5) 0px 5px 15px !important;
    }
}
