.scene {
    width: 300px; /* Tăng chiều rộng */
    height: 300px; /* Tăng chiều cao */
    perspective: 1500px; /* Tăng perspective */
    position: relative;

    .carousel.keen-slider {
        width: 100%;
        height: 100%;
        overflow: visible;
        position: absolute;
        transform: translateZ(-500px); /* Tăng giá trị translateZ */
        transform-style: preserve-3d;

        .carousel__cell {
            position: absolute;
            width: 380px; /* Tăng chiều rộng cell */
            left: 10px;
            height: 300px; /* Tăng chiều cao cell */
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}
