.albums {
    margin-left: 250px;
    margin-top: 71px;
    height: 100%;
    font-family: var(--font-style);
    &-title {
        font-size: 17px;
        font-weight: 500;
        font-family: var(--font-style);
    }
    &-outstanding {
        padding: 20px;
    }
}
