.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    &-title{
        font-family: var(--font-style);
        font-size: 2.5rem;
        font-weight: 600;background: 50% 100% / 50% 50% no-repeat
        radial-gradient(ellipse at bottom, #444444, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
    }
    &-container {
        columns: 4 200px;
        column-gap: 1.5rem;
        width: 90%;
        margin: 0 auto;
        & div {
            width: 150px;
            margin: 0 1.5rem 1.5rem 0;
            display: inline-block;
            width: 100%;
            border: solid 2px black;
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
            border-radius: 5px;
            transition: all .25s ease-in-out;
            &:hover img {
                filter: grayscale(0);
            }
            &:hover {
                border-color: red;
            }
            & img {
                width: 100%;
                filter: grayscale(100%);
                border-radius: 5px;
                transition: all .25s ease-in-out;
            }
            & p {
                margin: 5px 0;
                padding: 0;
                text-align: center;
                font-style: italic;
            }
        }
    }
    &-footer{
        & p {
            font-family: var(--font-Italic);
            padding: 5px 15px;
            background: none;
            border: none;
            position: relative;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            cursor: pointer;
            &:after, 
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: 2px solid #000;
                transition: transform .2s ;
            }
            &:after{
                transform: translate(3px, 3px);
            }
            &:before{transform: translate(-3px, -3px);
            }
            &:hover{
                background-color: black;
                color: white;
                &:after, &:before{
                    transform: translate(0)
                }
            }
        }
    }
}
  
  
  
  
  
  