.albums {
    margin-left: 250px;
    margin-top: 71px;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    margin-right: -17px;
    padding-right: 17px;
    &-title {
        font-size: 17px;
        font-weight: 600;
        font-family: var(--font-Italic);
    }
    &-outstanding {
        padding: 20px;
    }
}
